//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../partials/header
    link(rel="stylesheet" type="text/css" href="/stylesheets/eve/contracts.css")
  body
    include ../partials/navigation
    
    div.jumbotron
      div.container
        h1 Mango Deliveries
        div.col-md-6
          div.row
            if(pendingContracts.length === 1)
              p There is 1 pending contract left
            else if(pendingContracts.length > 1)
              p There are #{pendingContracts.length} pending contracts left
            else
              p There are no pending contracts left
            
            if(ongoingContracts.length === 1)
              p There is 1 currently ongoing contract
            else if(ongoingContracts.length > 1)
              p There are #{ongoingContracts.length} currently ongoing contracts
            else
              p There are no currently ongoing contracts
            
            if(finalizedContracts.length === 1)
              p There is 1 finalized contract
            else if(finalizedContracts.length > 1)
              p There are #{finalizedContracts.length} finalized contracts
            else
              p There are no finalized contracts
        
        if(freighter)
          div.col-md-6
            div.col-md-6.pull-right
              div.form-group
                div.row
                  label(for="tax") Tax (3%)
                  div.input-group
                    input.pull-right.form-control(name="tax" type="text" id="tax" autocomplete="off" readonly)
                    div.input-group-addon ISK
              div.form-group
                div(style="text-align: center;")
                  button.btn.btn-primary(type="submit" onclick="submit()") Submit
    
    if(pendingContracts || ongoingContracts || finalizedContracts)
      div.container
        div#submit-alert.alert(role="alert")
        ul.nav.nav-tabs.nav-justified
            li(class=pendingContracts[0] ? "active" : "disabled")
              a(onclick="showPending(this)") Pending Contracts
            li(class=ongoingContracts[0] ? null : "disabled")
              a(onclick="showOngoing(this)") Ongoing Contracts
            li(class=finalizedContracts[0] ? null : "disabled")
              a(onclick="showFinalized(this)") Finalized Contracts
        div.table-responsive#pendingContracts(style="display: block;")
          table.table.table-striped
            thead
              tr
                th # (Link)
                th Destination
                if(freighter)
                  th Customer
                th Price
                th Quote
                th Multiplier
                th Volume
                th ISK/m³
                th Submitted
                if(freighter)
                  th Accept
                  th Flag
            tbody
              - pendingContracts.forEach(function(contract) {
                tr(class=contract.status)
                  td
                    a(href="#{contract.link}")=contract.id
                  td=contract.destination
                  if(freighter)
                    td=contract.submitter_name
                  td=contract.value_short
                  td=contract.quote_formatted
                  td=contract.multiplier
                  td=contract.volume_formatted
                  td=contract.value_volume_ratio_formatted
                  td=contract.submitted_formatted
                  if(freighter)
                    td
                      input(type="checkbox" name="accept" value=contract.value contract=contract.id)
                    td
                      if(contract.status === "flagged")
                        input(type="checkbox" name="flag" value=contract.value contract=contract.id disabled)
                      else
                        input(type="checkbox" name="flag" value=contract.value contract=contract.id)
              - })
              
        div.table-responsive#ongoingContracts(style="display: none;")
          table.table.table-striped
            thead
              tr
                th # (Link)
                th Destination
                if(freighter)
                  th Customer
                th Price
                th Quote
                th Multiplier
                th Volume
                th ISK/m³
                th Submitted
                if(freighter)
                  th Freighter
                  th Complete
            tbody
              - ongoingContracts.forEach(function(contract) {
                tr
                  td
                    a(href="#{contract.link}")=contract.id
                  td=contract.destination
                  if(freighter)
                    td=contract.submitter_name
                  td=contract.value_short
                  td=contract.quote_formatted
                  td=contract.multiplier
                  td=contract.volume_formatted
                  td=contract.value_volume_ratio_formatted
                  td=contract.submitted_formatted
                  if(freighter)
                    td=contract.freighter_name
                    td
                      input(type="checkbox" name="complete" value=contract.value contract=contract.id)
              - })
        
        div.table-responsive#finalizedContracts(style="display: none;")
          table.table.table-striped
            thead
              tr
                th # (Link)
                th Destination
                if(freighter)
                  th Customer
                th Price
                th Quote
                th Multiplier
                th Volume
                th ISK/³
                th Submitted
                if(freighter)
                  th Freighter
                  th Taxed
                if(director)
                  th Tax
            tbody
              - finalizedContracts.forEach(function(contract) {
                tr(class=contract.status)
                  td
                    a(href="#{contract.link}")=contract.id
                    td=contract.destination
                    if(freighter)
                      td=contract.submitter_name
                    td=contract.value_short
                    td=contract.quote_formatted
                    td=contract.multiplier
                    td=contract.volume_formatted
                    td=contract.value_volume_ratio_formatted
                    td=contract.submitted_formatted
                    if(freighter)
                      td=contract.freighter_name
                      if(contract.taxed)
                        td Yes
                          if(director)
                      else
                        td No
                      td
                        input(type="checkbox" name="tax" value=contract.value contract=contract.id disabled=Boolean(contract.taxed))
              - })

    include ../partials/footer
    script.
      var tax = 0
      $("tr input[type=checkbox]").change(function() {
        if($(this).prop("checked") == true) {
          tax += parseInt($(this).prop("value"), 10) * 0.03
        } else {
          tax -= parseInt($(this).prop("value"), 10) * 0.03
        }
        $("#tax").val(tax)
      })
    
    script.
      function submit() {
        var accept = []
        $("input[name=accept]:checked").each(function() {
          accept.push($(this).attr("contract"))
        })
        
        var flag = []
        $("input[name=flag]:checked").each(function() {
          flag.push($(this).attr("contract"))
        })
        
        var complete = []
        $("input[name=complete]:checked").each(function() {
          complete.push($(this).attr("contract"))
        })
        
        var tax = []
        $("input[name=tax]:checked").each(function() {
          tax.push($(this).attr("contract"))
        })
        
        $.ajax({
          type: "POST",
          url: "/contracts/submit",
          data: {
            accept: accept,
            flag: flag,
            complete: complete,
            tax: tax
          },
          dataType: "json",
          success: function() {
            location.reload()
          },
          error: function(res) {
            if(!res.responseJSON) return window.location.reload()
            $("div#submit-alert")
              .removeClass("alert-success")
              .addClass("alert-danger")
              .text(res.responseJSON.alert)
            if($("div#submit-alert").parent("a").length > 0) return
            $("div#submit-alert").wrapInner("<a href='javascript:window.location.reload()'></a>")
          }
        }).done()
      }

    script.
      function showPending(e) {
        if($(e).parent(".disabled").length) return
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("div.table-responsive").hide()
        $("#pendingContracts").show()
      }
      
      function showOngoing(e) {
        if($(e).parent(".disabled").length) return
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("div.table-responsive").hide()
        $("#ongoingContracts").show()
      }
      
      function showFinalized(e) {
        if($(e).parent(".disabled").length) return
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("div.table-responsive").hide()
        $("#finalizedContracts").show()
      }
