//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/eve/navigation

    div.jumbotron
      div.container
        h1 Mango Deliveries
        if(contracts && contracts.length === 1)
          p There is 1 contract left
        else if(contracts)
          p There are #{contracts.length} contracts left
        else
          p There are no contracts left

    if(contracts)
      div.container.table-responsive
        table.table.table-striped
          thead
            tr
              th # (Link)
              th Destination
              th Customer
              th Price
              th Quote
              th Multiplier
              th Volume
              th ISK/m³
              th Submitted
              th Status
              th Accept

          tbody
            - contracts.forEach(function(contract) {
              tr
                td
                  a(href="#{contract.link}")=contract.id
                td=contract.destination
                td=contract.submitter_name
                td=contract.value_short
                td=contract.quote_formatted
                td=contract.multiplier
                td=contract.volume_formatted
                td=contract.value_volume_ratio_formatted
                td=contract.submitted_formatted
                td=contract.status
                td Placeholder
            - })

    include ../../partials/footer
