//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/eve/navigation
    
    div.jumbotron
      div.container
        h1 Mango Deliveries
        p There are #{contracts ? contracts.length : "no"} contracts left
    
    if(contracts)
      div.container
        table.table.table-striped
          thead
            tr
              th #
              th Destination
              th Customer
              th ISK Cost
              th Volume
              th ISK/m³
              th Submitted
              th Status
              th Accept
              
          tbody
            - contracts.forEach(function(contract) {
              tr
                td
                  a(href="#{contract.link.replace('.json', '')}")=contract.id
                td Placeholder
                td=contract.submitter_name
                td=contract.value * contract.multiplier
                td=contract.volume
                td=contract.value / contract.volume
                td=contract.submitted
                td=contract.status
                td Placeholder
            - })
    
    include ../../partials/footer
