//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/eve/navigation
    
    div.jumbotron
      div.container
        h1 Mango Deliveries
        p There are #{contracts ? contracts.length : "no"} contracts left
    
    if(contracts)
      div.container
        table.table.table-striped
          thead
            tr
              th #
              th Price
              th ISK/m³
              th Submitter
              th Submitted
              th Status
              th Accept
          tbody
            - contracts.forEach(function(contract) {
              tr
                td=contract.id
                td=contract.value * contract.multiplier
                td=contract.value / contract.volume * contract.multiplier
                td=contract.submitter_name
                td=contract.submitted
                td=contract.status
            - })
    
    include ../../partials/footer
