//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/eve/navigation
    
    div.jumbotron
      div.container
        h1 Mango Deliveries
        p Director Panel
    
    div.container
      div#submit-alert.alert(role="alert")
      ul.nav.nav-tabs.nav-justified
        li
          a(onclick="showFreighterPanel(this)") Freighter Panel
        li
          a(onclick="showItemTypePanel(this)") Item Type Panel
        li
          a(onclick="showItemGroupPanel(this)") Item Group Panel
      div#freighterPanel(style="display: none;")
        form(method="post" action="/eve/director/submit")
          div.panel.panel-default
            div.panel-heading Freighter Panel
            div.panel-body
              div.form-group
                div.row
                  label.col-md-3(for="freighter")
                  div.col-md-6
                    input(name="freighter" type="text" class="form-control" id="freighter" placeholder="DrSmugleaf Aulmais" autocomplete="off" data-toggle="tooltip" title="")
              div.form-group
                div.row.text-center
                  button.btn.btn-success(type="submit" name="add" style="margin-right: 5px;") Add Freighter
                  button.btn.btn-danger(type="submit" name="remove") Remove Freighter
        div.table-responsive
          table.table.table-striped
            thead
              tr
                th Portrait
                th Character ID
                th Character Name
                th Corporation Name
                th Alliance Name
            tbody
              - freighters.forEach(function(freighter) {
                tr
                  td
                    img(src=freighter.character_portrait style="width: 25px; height: 25px;")
                  td=freighter.id
                  td=freighter.character_name
                  td=freighter.corporation_name
                  td=freighter.alliance_name
              - })
      
      div#itemTypePanel(style="display: none;")
        form(method="post" action="/eve/director/submit")
          div.panel.panel-default
            div.panel-heading Item Type Panel
            div.panel-body
              div.form-group
                div.row
                  label.col-md-3(for="item")
                  div.col-md-6
                    input(name="item" type="text" class="form-control" id="item" placeholder="Cargo Container" autocomplete="off" data-toggle="tooltip" title="")
              div.form-group
                div.row.text-center
                  button.btn.btn-danger(type="submit" name="ban" style="margin-right: 5px;") Ban Item Type
                  button.btn.btn-success(type"submit" name="allow") Allow Item Type
        div.table-responsive
          table.table.table-striped
            thead
              tr
                th Type ID
                th Group ID
                th Type Name
                th Description
                th Mass
                th Volume
                th Capacity
            tbody
              - bannedItemTypes.forEach(function(type) {
                tr
                  td=type.typeID
                  td=type.groupID
                  td=type.typeName
                  td=type.description
                  td=type.mass
                  td=type.volume
                  td=type.capacity
              - })
      
      div#itemGroupPanel(style="display: none;")
        form(method="post" action="/eve/director/submit")
          div.panel.panel-default
            div.panel-heading Item Group Panel
            div.panel-body
              div.form-group
                div.row
                  label.col-md-3(for="group")
                  div.col-md-6
                    input(name="group" type="text" class="form-control" id="group" placeholder="Frigate" autocomplete="off" data-toggle="tooltip" title="")
              div.form-group
                div.row.text-center
                  button.btn.btn-danger(type="submit" name="ban" style="margin-right: 5px;") Ban Item Group
                  button.btn.btn-success(type"submit" name="allow") Allow Item Group
        div.table-responsive
          table.table.table-striped
            thead
              tr
                th Group ID
                th Group Name
                th Description
            tbody
              - bannedMarketGroups.forEach(function(group) {
                tr
                  td=group.marketGroupID
                  td=group.marketGroupName
                  td=group.description
              - })
    
    include ../../partials/footer
    script.
      function showFreighterPanel(e) {
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("form").parent("div").hide()
        $("#freighterPanel").show()
      }
      
      function showItemTypePanel(e) {
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("form").parent("div").hide()
        $("#itemTypePanel").show()
      }
      
      function showItemGroupPanel(e) {
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("form").parent("div").hide()
        $("#itemGroupPanel").show()
      }

    script.
      $("button[type='submit']").on("click", function() {
        $(this).closest("form").data("action", this.name)
      })
    
      $("form").submit(function(e) {
        var data = $(this).serialize()
        data += "&action=" + $(this).data("action") || $("input[type='submit']").get(0).name
        
        $.ajax({
          type: $(this).attr("method"),
          url: $(this).attr("action"),
          data: data,
          success: function(res) {
            $("div#submit-alert")
              .addClass("alert-success")
              .text(res.confirm)
          },
          error: function(res) {
            $("div#submit-alert")
              .addClass("alert-danger")
              .text(res.alert)
          }
        })
        return false
      })
