//
// Copyright (c) 2016-2017 DrSmugleaf
//

nav.navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Mango Deliveries
    div#navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-left
        li(class="#{active === 'Home' ? 'active' : null}")
          a(href="/") Home
          span.sr-only (current)
        li(class="#{active === 'Contracts' ? 'active' : null}")
          a(href="/contracts") Contracts
        if(character.director)
          li(class="#{active === 'Director Panel' ? 'active' : null}")
            a(href="/director") Director Panel
      ul.nav.navbar-nav.navbar-right
        if(character.id)
          li
            a(href="/login") #{character.character_name}
          li
            img(src="#{character.character_portrait}" style="height: 50px;")
            img(src="#{character.corporation_portrait}" style="height: 50px;")
            img(src="#{character.alliance_portrait}" style="height: 50px;")
        else
          form.navbar-form.navbar-right
            div.form-group
              a(href="/login")
                img(src="../evessobutton.png")
